@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #1a1b1e;
    --secondary-color: #cdcdcd;

    ::selection {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

#container {
    font-family: 'Amiri', serif;
    width: 650px;
}

p {
    line-height: 1.6;
    font-size: 18px;
}

a {
    color: var(--secondary-color);
}

p>a {
    text-decoration: none;
}

p>a:hover {
    text-decoration: underline;
}

h1 {
    margin-bottom: 0;
}

@media screen and (max-width: 550px) {
    #container {
        width: auto;
        padding: 15px;
        margin: 0px;
        font-size: 10pt;
    }
}