@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

:root {
    --primary-color: #fff;
    --secondary-color: #444;
    --link-color: #479;

    --main-font: 'JetBrains Mono', monospace;

    ::selection {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--main-font);
}

#container {
    width: 650px;
}

.ininav {
    border-bottom-style: dashed;

    display: flex;
    gap: 1em;
    padding: 10px 0;
    margin-top: 0;
    list-style-type: none;
}

.ininav li a {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-decoration: none;
}

.ininav li a:hover {
    text-decoration: underline;
}

#arab {
    font-family: 'Readex Pro', sans-serif;
    text-align: right;
}

main a,
footer a {
    color: var(--link-color);
    text-decoration: none;
}

main a:hover,
footer a:hover {
    color: var(--link-color);
    text-decoration: none;
    border-width: 2px;
    border-color: var(--link-color);
    border-bottom-style: solid;
}

p {
    line-height: 1.6;
}

.list {
    list-style-type: square;
}

#contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    list-style-type: none;
    padding: 0;
}

#contacts p {
    margin: 0
}

#contacts a {
    padding: 2px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid;
    text-decoration: none;
}

#contacts a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
}

footer {
    padding-top: 10px;
    margin-top: 10px;
    border-top-style: dashed;
}

@media screen and (max-width: 470px) {
    #container {
        width: auto;
        margin: 0px;
    }
}

@media screen and (max-width: 270px) {
    .ininav {
        display: block;
    }
}