/* ================ <IMPORT FONTS> ================ */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

/* ================ </IMPORT FONTS> ================ */

.container {
    display: flex;
    justify-content: center;
    background-color: #ffff;

    ::selection {
        background-color: rgb(68, 68, 68);
        color: #ffff;
    }
}

.content {
    width: 650px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* ================ <NAV/HEADER> ================ */
.nav {
    font-family: 'Fira Code', monospace;
    border-bottom-style: dashed;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

#nav-title {
    font-size: 1em;
    font-weight: 600;
}

.nav a {
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    color: rgb(68, 68, 68);
    background-color: #ffff;
    text-decoration: underline;
}

.nav a:hover {
    text-decoration: none;
    color: #ffff;
    background-color: rgb(68, 68, 68);
}

/* ================ </NAV/HEADER> ================ */

body {
    color: rgb(68, 68, 68);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.boxes {
    flex-grow: 1;
    width: 250px;
    padding: 1em;
    border-radius: 10px;
    border-style: dotted solid solid dotted;
}

h1 {
    font-weight: 700;
}

h2 {
    margin: 1em 0 5px 0;
    text-decoration: rgb(68, 68, 68) wavy underline;
}

a {
    color: #ffff;
    background-color: rgb(68, 68, 68);
    text-decoration: none;
}

a:hover {
    color: rgb(68, 68, 68);
    background-color: #ffff;
    text-decoration: underline;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.3%;
}

li {
    margin: 10px 0 10px 0;
}