@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;1,300;1,400&display=swap');

:root {
    display: flex;
    justify-content: center;

    background-color: var(--primary-color);
    color: var(--secondary-color);

    /* DARK THEME INSPIRED BY JETBRAINS MONO WEBSITE
     --primary-color: #1a1b1e;
    --secondary-color: #cdcdcd; 
    --link-color: #4ca6ff; */

    --primary-color: #fff;
    --secondary-color: #444;
    --link-color: #479;

    ::selection {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    width: 45%;
}

/* ================ <NAV/HEADER> ================ */
.nav {
    font-family: 'JetBrains Mono', monospace;
    border-bottom-style: dashed;

    display: flex;
    align-items: center;
    gap: 1em;
}

.nav h1 {
    font-size: 1em;
}

.nav a {
    font-style: italic;
    font-size: 15px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-decoration: underline;
}

.nav a:hover {
    text-decoration: none;
    border: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* ================ </NAV/HEADER> ================ */


a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color);
    text-decoration: none;
    border-width: 2px;
    border-color: var(--link-color);
    border-bottom-style: solid;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

/* ================ <> ================ */

::marker {
    content: "➤  ";
    font-size: 1em;
}

/* ================ </> ================ */

/* ================ <> ================ */

#contacts {
    display: flex;
    align-items: center;
    gap: 1em;
}

#contacts p {
    margin: 0
}

#contacts a {
    padding: 2px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid;
    text-decoration: none;
}

#contacts a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
}

/* ================ </> ================ */

footer {
    text-align: center;
}

@media screen and (max-width: 800px) {
    body {
        width: auto;
        padding: 15px;
        margin: 0px;
        font-size: 10pt;
    }
}